footer {
  position: relative;
}
.footer-wave {
  position: absolute;
  width: 100%;
}
.footer-responsive {
  position: absolute;
  top: 350px;
  z-index: 3;
  left: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  .footer-wave {
    width: 300%;
  }
  .footer-responsive {
    position: absolute;
    top: 100px !important;
    z-index: 3;
    flex-direction: column;
    left: 0;
    right: 0;
  }
}
