* {
  font-family: sans-serif;
}
a {
  text-decoration: none !important;
  color: #ffa24c;
}
body {
  overflow-x: hidden;
}
.boton {
  background-color: #ffa24c;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 600;
}
.boton-outlined {
  border: 1px solid #ffa24c;
  color: #ffa24c;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 500;
}

.clean-input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 16px;
  margin: 20px 0;
  outline: none;
}

.clean-input:focus {
  border-color: #888;
}
