* {
  font-family: sans-serif;
}
.boton {
  background-color: #ffa24c;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 600;
}
.boton-outlined {
  border: 1px solid #ffa24c;
  color: #ffa24c;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 500;
}
