.categoria-card-list {
  display: flex;
  margin: 20px;
}
.card-img-top {
  width: 150px !important;
  height: 200px !important;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 250px;
  margin: 10px;
}
.categoria-wrapper {
  display: flex;
}
