* {
  font-family: sans-serif;
}
nav {
  padding: 0 190px !important;
  height: 80px;
}
.boton {
  background-color: #ffa24c;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 600;
}
.boton-outlined {
  border: 1px solid #ffa24c;
  color: #ffa24c;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 500;
}
.carrito-container {
  position: relative;
  width: 100%;
}
.carrito-valor {
  position: absolute;
  background-color: #ffa24c;
  color: white;
  width: 25px;
  height: 25px;
  top: -10px;
  border-radius: 50%;
  right: -10px;
  text-align: center;
}
#avisos-envios-gratis {
  background-color: #016034;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing {
  height: calc(100vh - 110px);
  width: 100%;
  position: relative;
  background-position: center;
  background-image: url(imgs/landing_background.png) !important;
  background-attachment: fixed;
  background-size: cover;
}
#waves {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#adoptar-mascotas-section {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.adoptar-mascotas-img {
  width: 300px;
  height: 400px;
  background-image: url(imgs/adoptar-mascotas.jpg) !important;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.adoptar-mascotas-text {
  width: 500px;
  font-family: "Domine", serif;
  font-weight: 500;
  text-align: center;
}
.adoptar-mascotas-title {
  font-weight: 900;
  font-size: 45px;
  margin: auto;
}

.adoptar-mascotas-description {
  font-size: 30px;
  margin: auto;
  padding: 20px 0;
}
.svg-section {
  position: absolute;
  top: -230px;
  left: 190px;
  z-index: -1;
}

.svg-section2 {
  position: absolute;
  bottom: -250px;
  right: 700px;
  z-index: -1;
}
.section-title {
  text-align: center;
}
.categoria-destacada {
  margin: 50px 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.categoria-destacada-reverse {
  margin: 50px 190px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.categoria-destacada-item {
  width: 300px;
  height: 400px;
}
.categoria-description {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.categoria-destacada-title {
  font-size: 30px;
  font-weight: 900;
  margin: 20px 0;
}
.categoria-destacada-description {
  font-size: 20px;
  margin: 20px 0;
}
#metodos-de-pago {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 190px;
}
.metodo-de-pago {
  width: 300px;
  text-align: center;
}
.metodo-de-pago-img {
  padding: 10px 0;
}
