.landing {
  height: calc(105vh);
  width: 100%;
  position: relative;
  background-position: center;
  background-image: url(../../imgs/landing_background.png) !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#carouselExampleSlidesOnly {
  background-color: #000;
  z-index: 0;
}

.image-i {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  transition-duration: 1s;

  &:hover {
    background-color: #ccc;
    transform: scale(1.1);
  }
}

#waves {
  position: absolute;
  width: 100%;
  bottom: -100px;
}

.carousel2 {
  display: none;
}


@media screen and (max-width: 992px) {
  #waves {
    width: 500%;
  }

  .carousel2 {
    display: block;
  }

  .cat-dest {
    display: none;
  }

}