.landing {
  height: calc(100vh - 110px);
  width: 100%;
  position: relative;
  background-position: center;
  background-image: url(../../imgs/landing_background.png) !important;
  background-attachment: fixed;
  background-size: cover;
}

#waves {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.carousel {
  display: none;
}


@media screen and (max-width: 992px) {
  #waves {
    width: 500%;
  }

  .carousel {
    display: block;
  }

  .cat-dest {
    display: none;
  }

}