.landing {
  height: calc(105vh);
  width: 100%;
  position: relative;
}

.social-icon {
  font-size: 30px;
  color: #fff;
  margin: 0 10px;
}

#carouselExampleSlidesOnly {
  background-color: #202020;
  z-index: 0;
}

.mapa {
  display: flex;
  justify-content: center;
}

.image-i {
  transition: 1s ease;
  transition-duration: 1s;

  &:hover {
    background-color: #ccc;
    transform: scale(1.1);
  }
}

#waves {
  position: absolute;
  width: 100%;
  bottom: -100px;
}

.carousel2 {
  display: none;
}

a {
  color: #fff;
  text-decoration: none !important;
}

#carouselExampleSlidesOnlyPhone {
  display: none;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  #waves {
    width: 500%;
  }

  .carousel2 {
    display: block;
  }

  .cat-dest {
    display: none;
  }

  .image-i:hover {
    transform: scale(1);
  }

  #carouselExampleSlidesOnlyPhone {
    display: block;
  }

  #carouselExampleSlidesOnly {
    display: none;
  }

}